.container {
  display: flex;            /* 设置为Flex容器 */
  justify-content: center;  /* 水平居中 */
  align-items: flex-start;  /* 垂直方向上紧贴顶部 */
  height: 100vh;            /* 设置容器高度为视口高度 */
  padding-top: 10px;        /* 容器顶部内边距，为子元素提供上边距 */
  box-sizing: border-box;   /* 确保内边距不会影响容器的高度 */}
.centered-block {
  width: 1200px;             /* 设置块级元素的宽度为800px */
  margin: 0 auto;           /* 水平居中块级元素 */
}